<html>
    <head>
        <title>Index</title>
        <style>

        </style>
    </head>
    <body>
        <div>
            <h2 style="text-align: center;">Details</h2>
            <ul>
                <li><a href="/doctor/">doctor</a></li>
                <li><a href="/nurse/">nurse</a></li>
                <li><a href="/doctorview/">viewdoctor</a></li>
                <li><a href="/viewnurse/">viewnurse</a></li>
                


                

                
<!-- 
                <li><a href="/employee/">Employee</a></li>
                <li><a href="/shop/">Shop</a></li>
                <li><a href="/student/">Student</a></li>
                <li><a href="/viewbook/">View book</a></li>
                <li><a href="/viewemployee/">viewemployee</a></li>
                <li><a href="/viewshop/">viewshop</a></li>
                <li><a href="/viewstudent/">viewstudent</a></li>
                <li><a href="/school/">School</a></li>
                <li><a href="/teacher/">teacher</a></li>
                <li><a href="/students/">student</a></li>
                <li><a href="/staff/">Staff</a></li>
 -->

                


            
                
            </ul>
        </div>
    </body>
</html>